*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}


/* ===== NAVBAR MAIN WRAPPER ===== */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 233px;
    padding: 20px 0;
}

/* ===== LOGO ===== */
.logo {
    width: 120px; 
}

/* ===== NAVIGATION MENU ===== */
.nav-links {
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
    font-weight: 500;
}

/* ===== BUTTON ===== */
.connect-btn {
    padding: 18px 40px;
    border-radius: 16px;
    border: none;
    background-color: black;  
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.connect-btn:hover {
    opacity: 0.8;   
}

.ellipse {
    position: absolute;
    width: 600px;
    height: 600px;
    filter: blur(120px);
    z-index: -1;
}

.left {
    background: #bcd3ff;
    top: 20%;
    left: -10%;
    border-radius: 50%;
}

.right {
    background: #ffe3b0;
    top: 10%;
    right: -10%;
    border-radius: 50%;
}

/* ------- HERO SECTION -------- */
.hero {
    margin-top: 120px;
    text-align: center;
    padding-bottom: 180px;
}

.brand-title {
    font-size: 34px;
    font-weight: 500;
    font-family: "Roboto flex", sans-serif;
    font-style: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.48px;
    color: #0057FF;
    margin-bottom: 5px;
}

.main-heading {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.48px;
    color: #000;
    margin-top: 5px;
}

.sub-text {
    margin-top: 5px;
    color: #4b4b4b;
    font-size: 15px;
}

.connect-cta {
    margin-top: 28px;
    background: #1d4ed8;
    border-radius: 20px;
    padding: 10px 25px;
    color: white;
    border: none;
    font-weight: 500;
    transition: 0.3s;
}

.connect-cta:hover {
    background: #053cc3;
    transform: translateY(-2px);
}


/* ================= PRODUCTS SECTION ================= */
.products-section {
    text-align: center;
    padding: 100px 112px;
    font-family: "Roboto Flex", sans-serif;
    padding-top: 80px;
}

/* Tag Button */
.tag {
    display: inline-block;
    background: #f3f4f6;
    padding: 6px 18px;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 20px;
}
.tag span {
    color: #005CFF;
    font-weight: 600;
}

/* Section Heading */
.products-heading {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    max-width: 820px;
    margin: 0 auto 50px;
}

/* Cards Layout */
.products-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

/* Single Card */
.product-card {
    width: 390px;
    height: 449px;
    background: #fff;
    border-radius: 18px;
    padding: 30px 25px;
    text-align: left;
    box-shadow: 0 8px 30px rgba(0,0,0,0.08);
}
.product-card-style{
    height: 296px;
    width: 344px;;
}
/* Logos Centered */
.product-logo {
    height: 109px;
    width: 193px;
    display: block;
    margin: 0 auto 20px;
}

/* Text */
.product-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}
.product-text {
    font-size: 16px;
    line-height: 28px;
    max-width: 320px;
    color: #5a5a5a;
    font-family: "Roboto flex", sans-serif;
    font-style: normal;
}


.main-wrapper {
    background: #0159FF;
    color: white;
    padding: 64px 122px 64px 122px;
    border-radius: 22px;
    width: 85%;
    margin: 40px auto;
    text-align: center;
}

/* TOP TAG */
.chip {
    display: inline-block;
    background: white;
    color: #606060;
    font-size: 13px;
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: 600;
}

/* HEADINGS */
.title {
    font-size: 34px;
    margin: 14px 0 4px;
    font-weight: 700;
}

.subtitle {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 40px;
}


/* ================= EXPERTISE CARDS ================= */
.expertise-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    margin-bottom: 60px;
}

.expertise-card {
    width: 280px;
    background: white;
    color: black;
    text-align: center;
    border-radius: 18px;
    padding: 18px;
}

.expertise-card img {
    width: 100%;
    border-radius: 10px;
}

.expertise-card h3 {
    font-size: 17px;
    margin: 14px 0 6px;
}

/* ================= INDUSTRY SECTION ================= */
.title2 {
    font-size: 30px;
    margin-bottom: 8px;
}

.subtitle2 {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 35px;
}

.industry-row {
    display: flex;
    justify-content: center;
    gap: 22px;
    flex-wrap: wrap;
}

.industry-card {
    width: 230px;
    background: white;
    color: black;
    padding: 22px;
    border-radius: 14px;
}

.industry-card h4 {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}

/* Whole Section Background */
.connect-wrapper {
    background: #F6F6F6;
    padding: 50px 38px;
    display: flex;
    justify-content: center;
}

/* Inner Box */
.connect-container {
    background: #fff;
    width: 100%;
    max-width: 850px;
    border-radius: 25px;
    padding: 60px 50px;
    text-align: center;
    margin: auto;
}

.connect-badge {
    background: #EAEAEA;
    display: inline-block;
    padding: 5px 18px;
    border-radius: 20px;
    font-size: 13px;
    margin-bottom: 18px;
}

/* Main Heading */
.connect-title {
    font-size: 32px;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}

/* Input Styling */
.connect-form {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.input-field {
    width: 100%;
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid rgb(210,210,210);
    font-size: 15px;
    outline: none;
    background: white;
}

/* 2 side-by-side inputs */
.row {
    display: flex;
    gap: 12px;
}

.half { width: 50%; }

/* Message box */
.textarea {
    height: 110px;
    resize: none;
}

/* Submit Button */
.submit-btn {
    background: #0057FF;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 28px;
    border-radius: 50px;
    
    cursor: pointer;
    float: right;
}

.submit-btn:hover {
    background: #0040c9;
}

.footer-wrapper {
    background: #0048FF;
    padding: 60px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: "Roboto Flex", sans-serif;
}

/* Left Section */
.footer-left {
    max-width: 350px;
}

.footer-logo {
    height: 55px;
    margin-bottom: 12px;
}

.footer-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

/* Right Section */
.footer-right {
    text-align: right;
}

.footer-mail {
    color: white;
    font-size: 15px;
    text-decoration: underline;
    font-weight: 500;
}

.footer-copy {
    font-size: 13px;
    opacity: 0.9;
}
